body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", "Verdana", sans-serif;
    font-weight: normal;
    color: #283136;
    line-height: 1.6;
}

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
}

h1 {
    font-size: 55px;
    font-family: "Roboto", "Verdana", sans-serif;
    font-weight: medium;
    color: #000000;
    line-height: 1;
}

h2 {
    font-size: 24px;
    font-family: "Roboto", "Verdana", sans-serif;
    font-weight: bold;
    color: #000000;
    line-height: 1;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    width: 100%;
    margin-bottom: 60px;
    background-color: #eeeeee;
}

.header-top {
    margin: 0 auto;
}

.index-logo {
    float: left;
    margin-top: 48px;
}

.index-logo a:hover {
    opacity: 0.8;
}

.index-logo a:down {
    opacity: 0.3;
}

.main-navigation {
    width: 540px;
    float: left;
    margin-left: 175px;
    margin-top: 64px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0px;
}

.main-navigation li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 30px;
    margin-left: 25px;
    margin-right: 23px;
}

.main-navigation a {
    display: block;
    padding-top: 10px;
    padding-bottom: 0px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:hover,
.main-navigation .active a {
    color: #fb565a;
}

.main-navigation .active a {
    color: #fb565a;
    border-bottom: 3px solid #fb565a;
}


.main-navigation a:disabled {
    color: black;
    opacity: 30%;
}

.shopping-cart {
    float: right;
    max-width: 160px;
    margin-top: 64px;
}

.cart {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 46px;
    font-size: 16px;
    line-height: 30px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.cart:hover {
    color: #fb565a;
}

.cart:active {
    border-bottom: 3px solid #fb565a;
}

.cart::before{
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    left: 0px;
    width: 30px;
    height: 30px;
    background: url("../img/sprite.png") no-repeat center;
}

/* ==========================================
//                 SLIDER
// ==========================================  */


.slider {
    position:relative;
    max-width:1160px;
    height:426px;
    margin:0 auto;
}

.slider input[type="radio"] {
    position:absolute;
    opacity:0;
}

.slider-controls {
    position:absolute;
    bottom:100px;
    left:50%;
    width:200px;
    height:18px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 6px;
    background:white;
    border:7px solid white;
    vertical-align:middle;
    border-radius:50%;
    cursor:pointer;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background: white;
    border: 2px solid #c1c1c1;
    box-shadow: 0px 0px 0 5px white;
    margin: 0px 11px 0;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.slide-text {
    width:540px;
    padding:30px 0;
    color:#283136;
}

.slide-title {
    font-size:55px;
    line-height:1;
    font-weight:500;
    color:black;
    margin: 42px 0 24px 0;
}

.slide .btn{
    display:block;
    width:240px;
    padding:12px 0;
    margin-top:38px;
    font-size:16px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
    border: none;
    cursor: pointer;
}

.slide:nth-child(1){
    background-image:url("../img/slider-1.jpg");
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url("../img/slider-2.jpg");
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url("../img/slider-3.jpg");
    background-repeat:no-repeat;
    background-position:100% 0;
}

.slide{
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}


/* // ==========================================
//                 INNER-HEADER
// ========================================== */

.inner-page {
}

.inner{
    margin: 0;
    padding: 36px 100px 70px 100px;

}

.slogan-title {
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.block-title {
    margin: 0 auto;
}

/* ==========================================
//                 CATEGORIES
// ========================================== */

.category-list {
    margin-bottom: 78px;
    margin-top: 80px;
}

.category {
    width: 300px;
    float: left;
    margin-right: 100px;
    min-height: 348px;
    text-align: left;
}

.category:last-child {
    margin-right: 0px;
}

.category-name {
    display: block;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 17px;
}

/* ==========================================
//                 BUTTON
// ========================================== */


.btn {
    display: inline-block;
    width: 160px;
    padding: 12px 0;
    font-weight: medium;
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Roboto", "Verdana", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #e74246;
}

.btn:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: 0 3px 0 rgba(0,0,0,0.1) inset;
}

.category .green {
    background-color: #00ca74;

}

.category .green:hover {
    background-color: #00bc6c;

}
.category .green:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3);
}

.category .yellow {
    background-color: #efc84a;
}

.category .yellow:hover {
    background-color: #eab534;
}

.category .yellow:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3);
}

/* ==========================================
//                 COMPANY-INFO
// ========================================== */

.company-information {
    border-top: 2px solid #eeeeee;
    padding-bottom: 50px;
}

.information-left {
    width: 680px;
    float: left;
}

.information-title {
    display: block;
    margin-top: 74px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.list-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

.list-information {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-information li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 24px;
}

.list-information li::before{
    content: "";
    position: absolute;
    z-index: 20;
    left: 0;
    top: 50%;
    margin-top: -1px;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.information-right {
    width: 360px;
    float: right;
    margin-top: 42px;
}

.information-right .list-title {
    margin-top: 26px;
    text-align: center;
}

.features {
    margin-top: 28px;
}

.feature {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.feature:last-child {
    margin-right: 0px;
}

.feature-percents {
    font-size: 45px;
    font-weight: 600;
    margin: 0 0;
    margin-bottom: 4px;
}

.percent {
    vertical-align:super ;
}

.feature-info {
    margin: 0 0;
    line-height: 18px;
    width: 100px;
}

.percent {
    font-size: 24px;
    text-decoration: ;
}

/* ==========================================
//                 PARTNERS
// ========================================== */

.logo-partners {
    margin-bottom: 82px;
    font-size: 0px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.logo {
    display: inline-block;
    width: 260px;
    min-height: 180px;
    margin-right: 19px;
    vertical-align: top;
    opacity: 0.2;
}

.stripe {
    display: inline-block;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    margin-right: 19px;
    margin-top: 64px;
}

.partner-4 {
    margin-right: 0px;
}

.logo:hover {
    opacity: 1;
}

.logo:down {
    opacity: 0.1;
}

/* ==========================================
//                 CATALOG
// ========================================== */

.catalog {
    margin-bottom: 58px;
}

.block-left {
    width: 258px;
    float: left;
    margin-right: 140px;
    padding: 0 0;
}

.block-right {
    width: 760px;
    float: right;
}

/* ==========================================
//                 FILTERS
// ========================================== */

.filter-price {
    width: 260px;
    min-height: 218px;
    margin: -18px 0 45px 0;
}

.filter-title-price {
    display: block;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 56px;
    letter-spacing: 1px;
}

.filter-title {
    display: block;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.filter-grid {
    width: 260px;
    min-height: 142px;
    margin-bottom: 48px;
}

.filter-features {
    min-width: 260px;
    min-height: 222px;
    margin-bottom: 45px;
}

.range-filter {
    width: 260px;
    margin-bottom: 63px; 
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    font-size: 16px;
    width: 50%;
    text-transform: uppercase;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.feature-radio input[type="radio"] {
    display: none;
}

.feature-radio {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 14px 0;
    padding-left: 36px;
    color: #283136;
}

.feature-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid #4d4d4d;
    opacity: .4;
    border-radius: 16px;
    position: absolute;
    top: 2px;
    left: 0;
}


.feature-radio input[type="checkbox"]:checked + .radio-indicator::before,
.feature-radio input[type="checkbox"]:checked + .radio-indicator::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #4d4d4d;
    border-radius: 50%;
    top: 10px;
    left: 10px;
}

.feature-radio input[type="radio"]:checked + .radio-indicator::before{
    display: none;
}

.feature-radio input[type="radio"]:checked + .radio-indicator::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #4d4d4d;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.feature-radio input[type="radio"] + .radio-indicator:hover {
    opacity: 1;
}

.feature-radio input[type="radio"] + .radio-indicator:disbled {
    opacity: .1;
}

.feature-checkbox input[type="checkbox"] {
    display: none;
}

.feature-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin: 14px 0;
    padding-left: 36px;
    color: #283136;
}

.feature-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off.png") no-repeat;
    opacity: .4;
    
}

.feature-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.feature-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.png") no-repeat;
    
}

.feature-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
    display: none;
}

.feature-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
    background: url("../img/checkbox-on.png") no-repeat;
    
}

.feature-checkbox input[type="checkbox"] + .checkbox-indicator:hover {
    opacity: 1;
}

.feature-checkbox input[type="checkbox"] + .checkbox-indicator:disabled {
    opacity: .1;
}


/* ==========================================
//                 ITEMS
// ========================================== */

.block-sorting {
    width: 760px;
    margin: -20px 0 32px 0;
}

.filter-title-sorting {
    float: left;
    width: 100px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sorting {
    float: right;
    width: 366px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.sorting-list {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.sorting-list li {
    display: inline-block;
    margin-left: 15px;
}

.sorting-list a,
.sorting-list span {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.3;
}


.sorting-list .prew {
    width: 10px;
    height: 10px;
    background: url("../img/sort-down.png") no-repeat;
    background-position: 0 0;
    margin-left: 30px;
    margin-right: 0;
    opacity: 1;
}

.sorting-list .next {
    width: 10px;
    height: 10px;
    background: url("../img/sort-up.png") no-repeat;
    background-position: 0 0;
    margin-left: 0px;
    margin-right: 0px;
}

.sorting-list .current {
    opacity: 1;
}

.sorting-list a:hover {
    opacity: .6;
}

.goods-list {
    width: 760px;
    font-size: 0px;
    margin-bottom: 60px;
}

.goods-item {
    width: 360px;
    height: 100%;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
    vertical-align: top;
    border-top: 40px solid #e9e9e9;
    border-radius: 3px;
    position: relative;
    transition: border-color .1s ease-in-out; 
}

.goods-item:hover {
    border-top: 40px solid #4d4d4d; 
}

.goods-item-inner {
    box-shadow: 0 0 1px #e5e5e5;
    transition: box-shadow .1s ease-in-out;
}

.goods-item-inner:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.goods-item img {
    max-width: 100%;
}



.goods-item::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    position: absolute;
    z-index: 2;
    left: 15px;
    top: -27px;
    border-radius: 50%;
    box-shadow: 25px 0 0 #fff, 50px 0 0 0 #fff;
}

.goods-item:nth-child(2n) {
    margin-right: 0px;
}

.goods-item:nth-child(5) {
    margin-bottom: 0px;
}

.goods-item:nth-child(6) {
    margin-bottom: 0px;
}

.good-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;
    padding: 0px;
    display: none;
    opacity: 0;    
}

.goods-item:hover .good-description{
    border-color: #4d4d4d;
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.goods-title {
    display: block;
    font-size: 18px; 
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    width: 100%;
    text-align:center;
    margin: 36px 0 15px 0;
} 

.goods-info {
    display: block;
    font-size: 16px;
    margin: auto 0 0;
    line-height: 18px; 
    color: #666666;
    text-align:center;
}

.good-description .btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 44px;
}

.paginator {
    width: 500px;
    float: left;
    min-height: 50px;
    margin-right: 400px;
}

.paginator .btn-grey {
    padding: 12px 0px;
    margin-right: 8px;
}

.paginator .next {
    padding: 12px 78px;
}

.paginator .current {
    min-width: 44px;
    padding: 9px 0px;
    margin-right: 8px;
    background-color: white;
    border: 3px solid #dbdbdb;
    pointer-events: none;
    cursor: default;
}




/* ==========================================
//                 CONTACTS
// ========================================== */

.contacts-block  {
    position:relative;
    width: 100%;
    height: 418px;
    background: url("../img/map_background.jpg") no-repeat;
}


.adress .container {
    position: absolute;
    margin-top: 54px;
    margin-bottom: 54px;
}

.adress-block {
    position: absolute;
    top: 54px;
    width: 220px;
    min-height: 210px;
    background-color: white;
    padding: 50px;
    box-shadow: 0 0 .5px .5px #e8e8e8;
}

.adress-block .list-title {
    margin: 0 0;
    font-size: 18px;
}

.adress-block .btn {
    width: 220px;
}

.adress-content {
    line-height: 18px;
    color: #666666;
    margin-top: 20px;
}

.phone {
    color: #666666;
}

/* ==========================================
//                 FOOTER
// ========================================== */

.main-footer {
    margin-right: auto;
    margin-left: auto;
    padding-top: 65px;
    padding-bottom: 66px;
}

.footer-social {
    float: left;
    width: 300px;
    margin-right: 100px;
}

.social-btn {
    display: inline-block;
    width: 78px;
    height: 78px;
    margin: 0px;
    margin-right: 8px;
    border-radius: 50%;
    background: #e1e1e1;
    vertical-align: top;
    font-size: 0;
    text-decoration: none;
}


.social-btn:hover {
    background-color: #e74246;
}

.social-btn:active {
    background: #d7373b;
    box-shadow: 0 3px 0 rgba(0,0,0,0.1) inset;
}

.social-btn-vk::before {
    display: block;
    content: "";
    background-image: url("../img/sprite.png");
    background-position: -30px 3px;
    margin-left: 26px; 
    margin-top: 23px;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 30px;
    width: 26px;
}

.social-btn-vk:active::before {
    opacity: .3;       
}

.social-btn-fb::before {
    display: block;
    content: "";
    background-image: url("../img/sprite.png");
    background-position: -68px 0px;
    margin-left: 32px; 
    margin-top: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 30px;
    width: 24px;
}

.social-btn-fb:active::before {
    opacity: .3;       
}

.social-btn-inst::before {
    display: block;
    content: "";
    background-image: url("../img/sprite.png");
    background-position: -90px 0px;
    margin-left: 25px; 
    margin-top: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.social-btn-inst:active::before {
    opacity: .3;       
}


.footer-slogan {
    float: left;
    width: 700px;
    padding-top: 5px;
}

.slogan {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
}


.btn-grey {
    display: inline-block;
    min-width: 50px;
    padding: 12px 90px;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-family: "Roboto", "Verdana", sans-serif;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #eeeeee;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn-grey:hover {
    background-color: #dfdfdf;
}

.btn-grey:down {
    background-color: #d5d5d5;
    box-shadow: 2px #bfbfbf;
    color: #a9a9a9;
}

.btn-grey:active {
    background-color: #d5d5d5;
    color: rgba(0,0,0,0.3);
    box-shadow: 0 3px 0 rgba(0,0,0,0.1) inset;
}

/* ==========================================
//                   POPUP
// ========================================== */

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content {
    position: fixed;
    top: 60px;
    left: 50%;
    margin-left: -474px; 
    width: 760px;
    min-height: 360px;
    padding: 60px 96px;
    color: black;
    background-color: white;
    box-shadow: 0 30px 30px rgba(0,0,0,0.75);
    display: none; 
    z-index: 10;
}

.modal-content-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-content-close {
    position: absolute;
    top: 76px;
    right: 90px;
    width: 26px;
    height: 26px;
    font-size: 0;
    opacity: .3;
    border: 0;
    cursor: pointer;
    background: transparent;
}

.modal-content-close::before {
    content: "";
    position: absolute;
    z-index: 11;
    left: 0;
    width: 26px;
    height: 4px;
    background: #fb565a;
    transform: rotate(45deg);
}

.modal-content-close::after {
    content: "";
    position: absolute;
    z-index: 11;
    left: 0;
    width: 26px;
    height: 4px;
    background: #fb565a;
    transform: rotate(-45deg);
}

.modal-content-close:hover {
    opacity: 1;
}

.modal-content-close:down {
    opacity: .1;
}

.modal-content p {
    margin: 0;
    margin-bottom: 36px;
    min-width: 320px;
    font-size: 45px;
    line-height: 1;
    font-weight: 500;
    font-family: "Roboto", "Verdana", sans-serif;
    color: black;
}

.input-name {
    float: left; 
    width: 360px;
    margin-right:0px;
}

.input-mail {
    float: right;
    width: 360px;
}

.input-popup {
    width: 356px;
    height: 46px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 0px 0 0 12px;
}

.text-message textarea {
    padding: 14px 0 0 12px;
    resize: none;
}

.text-message .input-popup{
    width: 756px;
    height: 114px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.input-popup:hover {
    border: 2px solid #b4b9bb;
}
.input-popup:active,
.input-popup:focus {
    border: 2px solid #000000;
}
.input-popup:error {
    border: 2px solid #e74246;
}


.input-name label {
    display: block;
    width: 150px;
    margin: 0 0 10px 0;
}

.input-mail label {
    display: block;
    width: 150px;
    margin: 0 0 10px 0;
}

.text-message label {
    display: block;
    width: 150px;
    margin: 0 0 10px 0; 
}

.text-message {
    margin: 34px 0 30px 0 ;
}

.input-caption {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: black;
    opacity: 1;
}

.modal-content .btn {
    width: 260px;
    margin-bottom: 25px;
}

.contacts-map {
    width: 100%;
    height: 415px;
}
